div(style={
    color: '#fff',
    'background-color': practice ? '#079649' : '#A9352C',
    position: 'absolute',
    width: '100%',
    height: '100%',
    margin: 0,
    padding: 0,
    top: 0,
    left: 0
  })
  div(style="padding:30px; text-align:center; vertical-align:middle; margin:3em 0;")
  
    div(style="font-size:30px; border-bottom: 3em;")
      if subjectiveAssessment
          | Please give your subjective assessment.
      else if number !== 0
          | Time for a break?

    h1(style="font-size:100px")
      if practice
        | Practice
      else
        | Block #{measuredBlockNumber + 1}

    div(style="font-size:30px;")
      each val in factorValues
        div
          | #[val.factor.name]: #[val.nam]
