
.toolbar {
    position:fixed;
    width:100%;
    bottom:0;
    text-align:center;
    height:40px;
}
.toolbar .toolbar-button {
    padding:0;
    color:white;
    font-weight:bold;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
    background-color:#222222;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height:100%;
    text-align:center;
    vertical-align:middle;
    line-height:40px; /* must be the same as the toolbar height... */
}
.toolbar .toolbar-button:active {
    background-color:#343434;
}
.toolbar .toolbar-button.down {
    background-color:#343434;
}
.toolbar .toolbar-button-wrapper {
    background-color:#464646;
    overflow:hidden;
    height:100%;
}