
.toolbar {
    position:fixed;
    width:100%;
    bottom:0;
    text-align:center;
    height:40px;
}
.toolbar .toolbar-button {
    padding:0;
    color:white;
    font-weight:bold;
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height:100%;
    text-align:center;
    vertical-align:middle;
}

.toolbar .toolbar-in-button {
    position:absolute;
    display:block;
    border-radius: 5px;
    background-color:#222222;
    vertical-align:middle;
    line-height:32px;
    top:4px;
    left:4px;
    bottom:4px;
    right:4px;
}

.toolbar .toolbar-button:active .toolbar-in-button {
    background-color:#343434;
}
.toolbar .toolbar-button.down toolbar-in-button {
    background-color:#343434;
}
.toolbar .toolbar-button-wrapper {
    background-color:#464646;
    overflow:hidden;
    height:100%;
}